$botonCarrito:  #a0104c;
$fondoGris: rgb(245, 245, 245);
$secundario: #741d51;
$terciario:#e44e52;
$fontPrincipal: 'Raleway', sans-serif;
$fondo-cards: rgb(245, 245, 245);
/* Tamaños de pantalla */
$ultrasmall:320px;
$extrasmall: 350px;
$telefono: 480px;
$tablet: 768px;
$desktop: 1024px;